---
layout: default
---

<div class="posts">
{% if paginator.posts %}
 {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date" >{{ post.date | date_to_string }}</span>
    <div class="post-content">
         {% if post.brief %}
          {{ post.brief | markdownify | strip_html }}
          {% else %}
          {{ post.excerpt | strip_html }}
         {% endif %}
    </div>
  </div>
  
  {% endfor %}
{% else %}
  <p>There are no posts in this category or tag.</p>
{% endif %}
</div>

{% include footer.html %}


